main.capital-market {
    .bg-section {
        background: url("/img/industries/capital-market/bg.jpeg");
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-transparent-blue{
        background-color: rgba(20, 6, 219, 0.534);
    }
}
