main.healthcare {
    .bg-section {
        background: url("/img/industries/healthcare/bg.jpeg");
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-blue {
        background: linear-gradient(to right, rgba(23, 19, 247, 0.753), rgba(62, 30, 241, 0.678));
    }
    h3 {
        font-weight: 900;
    }
}
