main.healthcare {
    .bg-section {
        background: url("/img/industries/healthcare/bg.jpeg");
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
        filter: saturate(200%);

    }

    .bg-blue {
        

        background: linear-gradient(to right, rgba(13, 11, 119, 0.6), rgba(33, 12, 153, 0.6));
    }
    h3 {
        font-weight: 900;
    }
}
