main.utilities {
    .bg-section {
        background: url("/img/industries/utilities/bg.jpeg");
        background-position: top right;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-transparent-blue{
        background-color: rgba(20, 6, 219, 0.534);
    }
    h3{
        font-weight: 900;
    }
}
