.section-title{
    text-align: center;
}

main.home-page{
    .core-values{
        .bg-img{
            background:linear-gradient(to right, rgba(4, 9, 24, 0.534), rgba(7, 15, 31, 0.534)), url("/img/home/core-values.jpeg");
            background-size: cover;
            background-position: bottom center;
            filter: saturate(600%);
        }
        .icon-card{
            height:340px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                height:110px;
            }
        }

        .icon-card.one{
            background-color: rgba(255, 230, 2, 0.09);
            
            img{
                height:190px
            }
        }

        .icon-card.two{
            background-color: rgba(2, 91, 255, 0.09);
        }

        .icon-card.three{
            background-color: rgba(255, 2, 2, 0.09);
        }
    }
}