.section-title{
    text-align: center;
}

main.home-page{
    .core-values{
        .bg-img{
            background:linear-gradient(to right, rgba(4, 9, 24, 0.534), rgba(7, 15, 31, 0.534)), url("/img/home/core-values.jpeg");
            background-size: cover;
            background-position: bottom center;
            filter: saturate(600%);
        }
        .icon-card{
            height:340px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease-in-out;
            img{
                height:110px;
            }
        }

        .icon-card.one{
            background-color: rgba(255, 232, 25, 0.1);
            filter: saturate(200%);
            img{
                height:190px
            }
        }

        .icon-card.two{
            background-color: rgba(19, 101, 255, 0.1);
            filter: saturate(200%);
            &:hover{
                // background-color: rgba(250, 125, 9, 0.466);

            }

        }

        .icon-card.three{
            background-color: rgba(255, 16, 16, 0.1);
            filter: saturate(200%);
        }
        .icon-card:hover{
            background-color: rgba(250, 146, 9, 0.2);

        }
    }
}