.impactful-ideas{

    .idea-card{
        img{
            height:320px;
            width: 100%;
            object-fit: cover;
        }
    }
    .margin-top-medium{
        margin-top:80px;
    }
    .margin-top-high{
        margin-top:160px;
    }
}