.orange-top {
    border-top: 6px solid #fc5e24;
}
.orange-bottom {
    border-bottom: 6px solid #fc5e24;
}
.orange-left {
    border-left: 6px solid #fc5e24;
}
.orange-right {
    border-right: 6px solid #fc5e24;
}

.orange-left-top {
    border-left: 6px solid #fc5e24;
    border-top: 6px solid #fc5e24;
}
.orange-left-bottom {
    border-left: 6px solid #fc5e24;
    border-bottom: 6px solid #fc5e24;
}
.orange-right-top {
    border-right: 6px solid #fc5e24;
    border-top: 6px solid #fc5e24;
}
.orange-right-bottom {
    border-right: 6px solid #fc5e24;
    border-bottom: 6px solid #fc5e24;
}

.orange-left-top-bottom {
    border-left: 6px solid #fc5e24;
    border-bottom: 6px solid #fc5e24;
    border-top: 6px solid #fc5e24;
}
