main.finance-consulting {
    .bg-fin {
        background-color: #c9ccd1;
    }
    .box-border {
        border-top: 5px solid #fc5e24;
        border-right: 5px solid #fc5e24;
    }
    .bg-fin-man {
        background: url("/img/services/finance-consulting/bg.jpg");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 85vh;
        
        .right-border{
            border-right: 5px solid #fc5e24;
            height:300px
        }
    }

    .border-box-reverse{
        border-right: 5px solid #fc5e24;
        border-bottom: 5px solid #fc5e24;
    }

    .by-numbers{
        .box{
            border-radius: 22px;
            background-color: #fff;
            box-shadow: 2px 1px 24px -8px rgba(0,0,0,0.75);
            height:100%;
            h3{
                color: #2a6287;
                font-size: 64px;
                margin-bottom: 18px;
            }
            .inner-box{
                border-bottom: 3px solid rgba(128, 128, 128, 0.671);
                border-left: 3px solid rgba(128, 128, 128, 0.671);
                height:75%;
                transition: all 0.3s ease;
                border-radius: 14px;
                display: flex;
                align-items: center;
            }
            &:hover{
                .inner-box{
                    text-align: right;
                    border-bottom: 3px solid rgb(51, 51, 51);
                    border-right: 3px solid rgb(63, 63, 63);
                    border-left: 3px solid transparent;
                }
            }
        }
    }
}



