.gray-bg{
    background-color: #f2f2f2;
}
.text-blue{
    color: #0000ff
}

.page-title{
    font-size:2.25rem;
    text-transform:none;
    text-align: none;
    margin-bottom:0;
    line-height: 2.25rem;
    margin-top:0;
    word-break: break-word;
    text-align: left;
    font-weight: 900;
}

@media screen and (min-width: 1000px){
    .page-title{
        font-size:4.063rem;
        margin-bottom:0;
        line-height: 4.06rem;
    }
}
// article {
//     .doc-content img{
//         width:100%
//     }
// }
