.insight-card {
  width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 2px #9e9e9e56, -1px -1px 5px #5c2c2c27;
    border-radius: 3px;
    border-radius: 8px;
    cursor: pointer;
    transition:all 0.3s ease-in-out;

  }
  .insight-card:hover{
    box-shadow: 2px 2px 5px #9E9E9E, -1px -1px 5px #5c2c2c27;
    transform: translateY(-3px);
  }
  .insight-card .img-container {
    border-radius: 8px 0 0 8px;

    width: 100%;
    height: 100%;
    background-color: #c1b7b4;
    // background-image: url('https://www.dropbox.com/s/7d5qt5wb2xpqeww/city-street.jpg?raw=1');
    background-size: cover;
    background-position: center center;
  }
  .card-content {
    padding: 10px 30px;
    border-left: 1px solid #ccc;
  }
  h2 {
    text-transform: uppercase;
    color: #555;
  }
  h1 {
    margin-bottom: 0;
  }
  .card-content .author {
    border-top: 1px solid #cdcdcd;
    font-weight: 700;
    margin-top: 25px;
    padding: 25px 0 10px 0;
    color: #555;
  }
  
  @media only screen and (max-width:600px) {
    .insight-card {
      display: block;
    }
    .insight-card .img-container {
      height: 250px;
      width: 100%;
    }
    .card-content {
      border: 0;
      border-top: 1px solid #ccc;
    }
  }

  // hr

.hr-black{
  border: .125rem solid #000;
  margin-top: 30px;
}


/* // .insight-card{
//     height: 100%;
//     display:flex;
//     flex-direction: column;
//     padding: .94em;
//     width: 100%;
//     .img-container{
//         width: 100%;
//     }
//     .img-container img{
//         width: 100%;
//         object-fit: cover;
//         vertical-align: middle;
//     }
//     .img-container:after {
//         content: "";
//         position: absolute;
//         border-top: 1.25em solid;
//         border-left: 1.25em solid transparent;
//         margin-left: 0;
//         color: #000;
//     }
//     .content-container{

//     }
// }
// .image-fold-module .img-container:after {
//     content: "";
//     position: absolute;
//     border-top: 1.25em solid;
//     border-left: 1.25em solid transparent;
//     margin-left: 0;
//     color: #000;
// }

// a{
//     color: #004dff;
// } */

