.orange-dot {
    font-size: 55px;
    color: #fc9724;
    font-family: 'Open Sans', sans-serif;
}
// new service card
.new-service-card{
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 1px 24px -5px rgba(0,0,0,0.75);
    h3{
        font-size:18px;
        font-weight:bold;
        color:#fc5e24
    }
    p{
        margin-bottom: 0;
        line-height:18px
    }
}
.neg-mt-26{
    margin-top: -66px;
}
.new-service-card.border-left{
    border-left: 5px solid #fc5e24 !important;
}
.new-service-card.border-right{
    border-right: 5px solid #fc5e24 !important;
}

.vii-service-card{
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 1px 24px -5px rgba(0,0,0,0.75);

    h3{
        font-size:18px;
        font-weight:bold;
        color:#fc5e24
    }
    p{
        margin-bottom: 0;
        line-height:18px
    }

}
.vii-service-card.border-left{
    border-left: 5px solid #fc5e24;
}
.vii-service-card.border-right{
    border-right: 5px solid #fc5e24;
}


.service-page-scroll {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 65px;
    z-index: 10;
    box-shadow:0px 2px 15px -1px rgba(56,56,56,0.1);
    background: linear-gradient(to right, #040826, #fc5e24);

    a:link,
    a:visited {
        font-size: 14px;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        // transition: all 0.1s ease-in-out;
    }
    a.active {
        font-weight: bold;
        text-decoration: none;
    }
    .scroll-item {
        border-top: 4px solid transparent;
        // border-bottom: 4px solid transparent;
        padding: 12px 0;
    }
    .scroll-item.active {
        border-top: 4px solid transparent;
        // border-bottom: 4px solid #fff;
        padding-left: 5px;
        text-decoration: underline;
    }
}

// service card
.service-card{
    background-color: #f2f2f2;
    border: .063rem solid #ccc;
    transition: all 0.2s ease-in-out;
    
    &:hover{
        box-shadow:0 0 25px rgba(0,0,0, .07);
        transform: translateY(-3px)
    }
}
.fixed-bg{
    background-image: url('https://ucc799e2f09cdaaad20372fdc06d.dl.dropboxusercontent.com/cd/0/inline/BRYEBIQmXAe9QItRmv-0uLNqUWoIvWhM2ekQrPeMaFxJ2d-va5hGBummRpDj1X1x_z8O7Y7sA_VKNpQ593PQxd-EV5IkFfGZW0L0S-Y8TF54SdCIwkN18iePdcdk6Zc0PdOi17SjiIOB9Jg6pQCoVLe8/file#');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    blockquote{
        border-left: 3px solid blue;
        font-size: 32px;
    }
}

.img-card{
    border: 1px solid rgba(128, 128, 128, 0.493);
}


// 
.each-sector {
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(46, 46, 46, 0.1);
    .icon-box{
        height:80px;
        width:80px;
        border-radius: 100%;
        margin: 0 auto;
    }
    img.icon {
        height: 50px;
    }
    h3 {
        font-weight: bold;
        margin-bottom: 2px;
    }
    p{
        margin-bottom: 0;
    }
    border-bottom: 7px solid rgba(255, 255, 255, 0);

    transition: all 0.3s ease-in-out;
    &:hover{
        border-bottom: 7px solid rgb(255, 115, 0);

    }
}