html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* @import "../node_modules/bootstrap/scss/bootstrap.scss"; */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.nav-link {
  color: rgb(238, 255, 252) !important;
}

.site-logo {
  max-height: 46px;
}

@media (max-width: 480px) {
  .site-logo {
      max-height: 38px;
  }
}
.dropdown-item.active {
  background-color: #49a197;
  /* a {
      color: #fff;
  } */
}
.nav-shadow {
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3);
}
.dropdown.nav-item {
  margin-left: 24px;
}
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.2s ease;
}
@media (max-width: 420px) {
  .navbar {
      background-color: #05695d;
  }
}
.navbar.scrolled {
  background-color: #075e54;
  padding-top: 5px;
  padding-bottom: 5px;
  /* box-shadow: 0px 4px 22px rgba($color: #04463e, $alpha: 0.3); */
}


.navbar .megamenu{ padding: 1rem; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; margin-top:0;  }

}	
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media(max-width: 991px){
  .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
    overflow-y: auto;
      max-height: 90vh;
      margin-top:10px;
  }
}
